body {
    font-family: Roboto, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 103px;
}

.background {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: #D71920;
    width: 1236px;
    height: 309px;
}

.box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid #D71920;
    width: 618px;
    height: 515px;
    background-color: #FFFFFF;
}

.text {
    width: 272px;
    height: 42px;
    color: #D71920;
    font-size: 36px;
    line-height: 42px;

}

.text-bootstrap {
    width: 384px;
    height: 28px;
    font-size: 24px;
    color: #000000;
    line-height: 28px;
    margin-top: 10px;
    text-align: center;

}

button {
    text-align: center;
    width: 341px;
    height: 70px;
    background-color: #D71920;
    font-size: 36px;
    line-height: 42px;
    color: #FFFFFF;
    margin-top: 12px;
}

.container2 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.background-image {
    background-repeat: no-repeat;
    background-color: #D71920;
    display: flex;
    flex-direction: column;
    background-image: url(./Rectangle\ 4.png);
    width: 1236px;
    height: 347px;
    align-items: center;
    background-position: center 30px;
    margin-top: 206px;
}

.box-title {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 64px;
    background-color: #D71920;
    margin-top: 30px;
}

.text-title {
    color: #FFFFFF;
    font-size: 36px;

}

.box-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 100px;
    background-color: #D71920;
    margin-top: 77px;
}

.text-link {
    font-size: 36px;
    color: #FFFFFF;
}



@media (max-width : 1024px) {
    .background {
        background-color: #FFFFFF;
    }

    .box {
        justify-content: flex-start;
        width: 98%;
        margin-top: 15%;
    }

    .text {
        width: 272.67px;
        height: 29px;
        margin-top: 45px;
    }

    .text-bootstrap {
        margin-top: 60px;
        width: 386.86px;
        height: 41px;
    }

    .btn-start {
        margin-top: 200px;
        width: 764.86px;
        height: 81px;
    }

    .container2 {
        margin-top: 5%;
    }

    .background-image {
        background-position: center 125px;
        background-size: 840px 455.61px;
        width: 98%;
        height: 656px;
        margin-top: 183px;
    }

    .box-title {
        width: 244.13px;
        height: 54px;
        margin-top: 118px;
    }

    .text-title {
        margin-top: -32px;
    }

    .box-link {
        width: 358.31px;
        height: 94px;
        margin-top: 318px;
    }

    .text-link {
        margin-top: 66px;
    }

}


@media (max-width : 375px) {
    .container {
        margin-top: -15px;
    }

    .background {
        background-color: #FFFFFF;
    }

    .box {
        justify-content: flex-start;
        width: 96%;
        height: 85%;
        margin-top: 5%;
    }

    .text {
        font-size: 24px;
        width: 180.95px;
        height: 28px;
        margin-top: 26px;
    }

    .text-bootstrap {
        font-size: 18px;
        margin-top: 60px;
        width: 288.6px;
        height: 21px;
        margin-top: 25px;
    }

    .btn-start {
        font-size: 24px;
        margin-top: 48px;
        width: 230.85px;
        height: 70px;
    }

    .background-image {
        background-position: center 38px;
        background-repeat: no-repeat;
        background-size: 313px 225px;
        width: 96%;
        height: 333px;
        margin-top: -2px;
    }

    .box-title {
        width: 264px;
        height: 49px;
        margin-top: 38px;
    }

    .text-title {
        margin-top: -22px;
    }

    .box-link {
        width: 264px;
        height: 78px;
        margin-top: 122px;

    }

    .text-link {
        margin-top: 30px;
    }

}